pillow
dm-tree
gym==0.25.0
dm-launchpad==0.5.2
dm-reverb==0.7.2
rlax
optax
numpy
tensorflow==2.8.0
tensorflow_probability==0.15.0
flax
atari-py
trfl
pygame==2.1.0
rlds
absl-py
gym[atari]
dm-env
dm-sonnet
typing-extensions
tensorflow_datasets==4.6.0
chex
bsuite
dm-control
jax==0.4.10
jaxlib==0.4.10
dm-haiku
ml_dtypes==0.2.0
