optax
dm-tree
gym==0.25.0
trfl
dm-launchpad==0.5.2
gym[atari]
pillow
absl-py
ml_dtypes==0.2.0
pygame==2.1.0
rlax
dm-haiku==0.0.10
numpy
tensorflow_datasets==4.6.0
dm-sonnet
tensorflow_probability==0.15.0
atari-py
rlds
flax
jax==0.4.10
dm-control
bsuite
tensorflow==2.8.0
typing-extensions
dm-env
chex
dm-reverb==0.7.2
jaxlib==0.4.10
