ml_dtypes==0.2.0
dm-haiku==0.0.10
jax==0.4.10
dm-sonnet
tensorflow_probability==0.15.0
flax
gym==0.25.0
chex
trfl
dm-launchpad==0.5.2
dm-reverb==0.7.2
tensorflow==2.8.0
absl-py
rlds
optax
jaxlib==0.4.10
dm-tree
typing-extensions
numpy
rlax
tensorflow_datasets==4.6.0
pillow
gym[atari]
bsuite
dm-control
dm-env
atari-py
pygame==2.1.0
